<h1>{{titulo}}</h1>

<mat-form-field class="mat-form-principal" appearance="fill">
  <mat-label>Nome</mat-label>
  <input matInput [(ngModel)]="usuario.nome" placeholder="digite o nome">
</mat-form-field>

<mat-form-field class="mat-form-principal" appearance="fill">
  <mat-label>CPF</mat-label>
  <input matInput [(ngModel)]="usuario.cpf" placeholder="digite o cpf">
</mat-form-field>

<mat-form-field class="mat-form-principal" appearance="fill">
  <mat-label>Idade</mat-label>
  <input matInput [(ngModel)]="usuario.idade" placeholder="digite a idade">
</mat-form-field>

<button mat-raised-button mat-icon-button color="primary" (click)="inserirUsuario()">
  <mat-icon class="iconButton">add</mat-icon>
</button>

<br>

<mat-card *ngFor="let usuario of usuarios" class="mat-card-simples">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>person</mat-icon>
      <p>{{usuario.nome}}</p>
    </mat-card-title>
    <mat-card-subtitle class="subTitle" *ngIf="usuario.cpf">
      <h5>
        CPF: <p>{{usuario.cpf}}</p>
      </h5>
      <h5>
        Idade: <p>{{usuario.idade}}</p>
      </h5>
    </mat-card-subtitle>

  </mat-card-header>
  <mat-card-content>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book.
  </mat-card-content>
</mat-card>